.webcoderskull{
    position: absolute;
    left: 0;
    top: 0;
    /* padding: 0 20px; */
    width: 100%;
    height:auto;
}

#particles{
    position: absolute;
    top: 0;
    height:100vh;
    max-width: 100vw;
}

canvas{
    height:100vh;
    background-color:#16a085;
}
