*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#map{
    position: absolute;
    top:10vh;
    height: 90vh;
    width:100vw;
}

@media all and (max-width:700px){
	#map{
        top:15vh;
        height: 85vh;
    }
}
